.foot_txt_div {
  width: 50vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  //left: -50vw;
  left: 0;
  transform: translateY(-50%);
  color: transparent;
  letter-spacing: 5px;
  transition: all 3s ease-in-out;

  .foot_title {
    width: 60%;
    font-size: 4em;
    font-weight: lighter;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .foot_article_div {
    position: absolute;
    top: 15%;
    left: 0;

    .foot_article {
      font-size: 1.8em;
      font-weight: lighter;
    }
    .en_article {
      font-size: 1.4em;
      font-weight: lighter;
    }
  }

}
.foot_article_div_active {
  color: #ffffff;
  left: 5%;
}

//分享足迹标题
.share_footPoint {
  font-size: 2.5em;
  color: transparent;
  position: absolute;
  top:15%;
  left: 70%;
  font-weight: lighter;
  transition: all 3s ease-in-out;
}
.share_footPoint_active {
  color: #ffffff;
}

.myEcharts {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
  z-index: 10;
  opacity: 0;
  transition: all 3s ease-in-out;
}
.echart_active {
  opacity: 1;
  left: 48%
}

//手机端底部文字
.mobile_bottom_btn {
  width: 100%;
  text-align: center;
  color: transparent;
  position: absolute;
  bottom: 10vh;
  left: 0;
  z-index: 10;
  font-size: 16px;
  font-weight: lighter;
  transition: all 3s ease-in-out;
}
.mobile_bottom_btn_active {
  color: #ffffff;
}
