

.external-link {
  p {
    font-size: 16px;
  }
}

.personal_bg {
  width: 100vw;
  height: 100vh;
  float: left;

  .inform_div {
    width: 20vw;
    height:50vh;
    border-radius: 8px;
    background: transparent;
    opacity: 0.85;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-75%);





    .introduce {
      width: 100vw;
      position: absolute;
      top:0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: #333333;
      font-size: 23px;
      p {
        font-style: normal;
        margin: 2vh 0;
        font-family: "Times New Roman", Times, serif;
        font-weight: lighter;
      }
    }

    .header_img {
      width: 10vw;
      height: 10vw;
      border-radius: 10vw;
      background: transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border:1.5px solid #ffffff;
      box-sizing: border-box;
    }

  }
}

