.skills_bg {
  width: 100vw;
  height: 100vh;
  position: relative;

  .bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #333333;
    opacity: 0.9;

    .skills_title {
      width: 3vw;
      position: absolute;
      top: 5%;
      left: 7%;
      color: #ffffff;
      font-size: 4em;
      font-weight: lighter;
      letter-spacing: 5px;
    }

    .en_title {
      width: 2vw;
      position: absolute;
      top: 10%;
      left: 5%;
      color: #ffffff;
      font-size: 4.3em;
      font-weight: lighter;
      letter-spacing: 5px;
    }
  }

  .skills_div {
    width: 80vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 8vw;

    .web_div {
      width: 18vh;
      height: 18vh;
      border-radius: 18vh;
      line-height: 18vh;
      border: 1.5px solid #ffffff;
      box-sizing: border-box;
      text-align: center;
      position: absolute;
      top: 34vh;
      left: 12vh;

      .skills_line {
        width: 1.5px;
        height: 0;
        position: absolute;
        background: #ffffff;
        left: 50%;
        transform: translateX(-50%);
        transition: all 2s ease-in-out;
      }
      .skills_line_top {
        height: 13vh;
        bottom: 18vh;
      }
      .skills_line_bottom {
        height: 13vh;
        top: 18vh;
      }
    }
    .double_title_div {
      width: 14vh;
      height: 14vh;
      border-radius: 14vh;
      border: 1.5px solid #ffffff;
      box-sizing: border-box;
      text-align: center;
      transition: all 1s ease-in-out;
      transition-delay: 2s;
      opacity: 0;
      position: absolute;
    }
    .css_div {
      bottom: 11vh;
      left: 14vh;
      opacity: 1;
    }

    .other_div {
      top: 7vh;
      left: 14vh;
      opacity: 1;
    }
    .js_div {
      top: 36vh;
      left: 43vh;
      opacity: 1;
    }

    .rn_inform_div {
      width: 47vh;
      height: 10vh;
      position: absolute;
      //top: 28vh;
      top: 32.5%;
      left: 97vh;
    }

    .react_inform_div {
      width: 47vh;
      height: 10vh;
      position: absolute;
      //top: 38.5vh;
      top: 44%;
      left: 97vh;
    }

    .vue_inform_div {
      width: 47vh;
      height: 10vh;
      position: absolute;
      //top: 49.5vh;
      top: 56%;
      left: 97vh;
    }

  }

  .web_txt {
    font-weight: lighter;
    font-size: 2em;
    color: #ffffff;
  }
  .double_txt {
    font-weight: lighter;
    font-size: 1.5em;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .skills_line_right {
    width: 0;
    height: 1.5px;
    background: transparent;
    position: absolute;
    transition: all 2s ease-in-out;
    transition-delay: 3s;

  }
  .linux_line_active {
    width: 22vh;
    top: 15%;
    left: 28vh;
    background: #ffffff;
  }
  .react_line_active {
    width: 22vh;
    top: 48%;
    left: 57vh;
    background: #ffffff;
  }
  .sass_line_active {
    width: 22vh;
    top: 80%;
    left: 28vh;
    background: #ffffff;
  }

  //'web前端'右边连线
  .web_line_right {
    width: 0;
    height: 1.5px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 18vh;
    transform: translateY(-50%);
    transition: all 2s ease-in-out;
  }
  .web_line_right_move {
    width: 13vh;
  }

  //分支
  .border_div {
    width: 10vh;
    height: 20vh;
    border-color: transparent;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s ease-in-out;
    transition-delay: 5s;
  }
  .other_border_div {
    top: 4.5vh;
    left: 40vh;
    border-top: 1.5px solid #ffffff;
    border-left: 1.5px solid #ffffff;
    border-bottom: 1.5px solid #ffffff;
  }
  .js_border_div {
    top: 33vh;
    left: 69vh;
    border-top: 1.5px solid #ffffff;
    border-left: 1.5px solid #ffffff;
    border-bottom: 1.5px solid #ffffff;
  }
  .css_border_div {
    bottom: 7.5vh;
    left: 40vh;
    border-top: 1.5px solid #ffffff;
    border-left: 1.5px solid #ffffff;
    border-bottom: 1.5px solid #ffffff;
  }

  //文字
  .skills_label {
    font-size: 2em;
    font-weight: lighter;
    color: transparent;
    position: absolute;
    transition: all 1s ease-in-out;
    transition-delay: 6s;
  }
  .git_txt {
    top: -18px;
    right: -28px;
    color: #ffffff;
  }
  .adobe_txt {
    //width: 100%;
    bottom: -15px;
    right: -165px;
    color: #ffffff;
  }
  .linux_txt {
    top: -15px;
    right: -55px;
    color: #ffffff;
  }
  .xiang_txt {
    top: -15px;
    right: -110px;
    color: #ffffff;
  }
  .antd_txt {
    bottom: -15px;
    right: -265px;
    color: #ffffff;
  }
  .rn_txt {
    top: -15px;
    right: -120px;
    color: #ffffff;
  }
  .vue_txt {
    bottom: -15px;
    right: -60px;
    color: #ffffff;
  }
  .react_txt {
    top: -15px;
    right: -80px;
    color: #ffffff;
  }


  //英语主题时响应式布局的文字
  .en_label {
    top: -15px;
    right: -170px;
    color: #ffffff;
  }

  //说明文字
  .skills_inform_txt {
    font-size: 1.5em;
    font-weight: lighter;
    color: transparent;
    position: absolute;
    transition: all 2s ease-in-out;
    transition-delay: 7s;
  }
  //英语主题时的说明文字
  .en_inform_txt {
    font-size: 1.2em;
    font-weight: lighter;
    color: transparent;
    position: absolute;
    transition: all 2s ease-in-out;
    transition-delay: 7s;
  }
  .inform_txt_active {
    color: #ffffff;
  }
}
